<div class="w-layout">
    <div class="form-course py-5">
        <h3 class="text-center">Thêm lớp học</h3>
        <form id="storeclass" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Tên lớp học</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Nhập tên khoá học ...">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Mô tả</label>
                <textarea id="description" name="description" class="w-full form-control" rows="5"
                    placeholder="Nhập mô tả khoá học này ..."></textarea>
            </div>
            <div class="mb-3">
                <label for="level" class="form-label">Mức độ</label> <br>
                <input type="radio" id="beginner" name="level" value="beginner">
                <label for="beginner">Cơ bản</label>

                <input type="radio" id="intermediate" name="level" value="intermediate">
                <label for="intermediate" class="mx-3">Trung cấp</label>

                <input type="radio" id="advanced" name="level" value="advanced">
                <label for="advanced">Nâng cao</label>
            </div> 
            <div class="mb-3">
                <label for="numberofsessions" class="form-label">Số buổi</label>
                <input type="number" class="form-control" name="numberofsessions" id="numberofsessions" placeholder="Số buổi .....">
            </div>
            <button type="submit" class="btn btn-danger">Thêm khoá học</button>
        </form>
    </div>
</div>