<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="w-layout d-flex">
    <a class="navbar-brand" href="#">
      <img src="/static/images/jaxtina-ielts-logo-w.png" alt="..." height="36">
    </a>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  ms-auto">
        <li class="nav-item">
          {{#if session.user}}
          {{#contains session.user.role 'user'}}
          <a class="nav-link active" aria-current="page" href="/english-course?is_from_login=true">Trang Chủ</a>
          {{else}}
          <a class="nav-link active" aria-current="page" href="/english-course-manager?is_from_login=true">Trang Chủ</a>
          {{/contains}}
          {{else}}
          <a class="nav-link active" aria-current="page" href="/english-course?is_from_login=false">Trang Chủ</a>
          {{/if}}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/english-course/introduction">Giới thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/english-course/course">Khoá học</a>
        </li>
        {{#if session.user }}
        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{session.user.email}}
          </div>
          <ul class="dropdown-menu" style=" top: 50px;left: 10px;">
            <li><a class="dropdown-item" href="#">Hồ sơ của bạn</a></li>
            <li><a class="dropdown-item" href="/english-course-manager/class">Quản lí lớp học</a></li>
            <li><a class="dropdown-item" href="/english-course-manager/managementcourse">Quản lí khoá học</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <button type="submit" class="border-0 bg-dark text-gray nav-link" id="liveToastBtn">Đăng Xuất</button>
        </li>
        {{else }}
        <a class="nav-link" href="/english-course/login-signup">Đăng Nhập/ Đăng ký</a>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>