<div id="mySidenav" class="sidenav">
    <a href="/english-course-manager/managementcourse" id="about">Tất cả khoá học</a>
    <a href="/english-course-manager/managementcourse/course" id="blog">Đăng khoá học</a>
    <a href="/english-course-manager/managementcourse/course/trash" id="projects">Thùng rác</a>
    <a href="#" id="contact">Thoát</a>
  </div>