<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{#if title}}
        {{ title }}
        {{else}}
        Trang Chủ
        {{/if}}
    </title>
    {{> stylesheet}}
</head>

<body>
    {{> header}}
    {{{body}}}
    {{>toasts}}
    {{> footer}}
    <script src="/static/javascripts/app.js"></script>
</body>

</html>